body {
    background: lightblue;
}

canvas {
    background: #000;
    cursor: pointer;
    margin: 0 auto;
}

#g-controls, .gen, .canvas, .buttons {
    margin-bottom: 5px;
    text-align: center;
}

.life {
    float: left;
    margin-right: 10px;
}

.hidden {
    display: none;
}